@import './variables.scss';
@import './reset.scss';
@import './tag.scss';
@import './header.scss';
@import './section.scss';
@import './project.scss';
@import './footer.scss';
body {
  display: flex;
  flex-wrap: wrap;
}

main,
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

strong {
  font-weight: 600;
}

a {
  color: black;
}

hr {
  border: none;
  border-left: 2px solid $gray;
  height: 70%;
  width: 1px;
}
