@import './variables.scss';

.tag {
  color: $pink;
  font-family: $font;
  &__simulation {
    position: absolute;
    font-size: 17px;
    top: 10px;
    left: 10px;
    line-height: 1.5;
    font-weight: bold;
  }
  &__white {
    color: $white;
  }
  &__yellow {
    color: $yellow;
  }
  &__gold {
    color: $gold;
  }
  &__white {
    color: $white;
    font-family: $font;
  }
  &__gray {
    color: $light-gray;
  }
  &__blue {
    color: $blue;
  }
}
