@import './variables.scss';

.tag {
  color: $pink;
  font-family: $font;
  &__brackets {
    color: $yellow;
    white-space: nowrap;
  }
  &__body {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
  }
  &__comments {
    color: $white;
    font-family: $font;
  }
}
