.contact {
  @include flex($flex-direction: column);
  background-color: $black;
  margin-top: 90px;

  &__title {
    @include sectionTitle($color: $white);
    padding: 10px 20px 10px;

    @media screen and (max-width: $UHD) {
      padding: 40px 100px;
    }

    @media screen and (max-width: $QHD) {
      padding: 20px 60px;
    }

    @media screen and (max-width: $FHD) {
      padding: 20px 50px;
    }

    @media screen and (max-width: $mobile) {
      padding: 20px 20px;
    }

    @media screen and (max-width: $mobile-small) {
      padding: 10px 10px 10px;
    }

    &-wrapper {
      @include squareBorder;
      margin-top: 40px;

      @media screen and (max-width: $UHD) {
        margin-top: 90px;
      }

      @media screen and (max-width: $QHD) {
        margin-top: 60px;
      }

      @media screen and (max-width: $FHD) {
        margin-top: 40px;
      }
    }
  }

  &__icons {
    @include flex();
    margin: 20px 0;

    &-element {
      filter: invert(100%);

      @media screen and (max-width: $UHD) {
        height: 50px;
        width: 50px;
        margin: 25px;
      }

      @media screen and (max-width: $QHD) {
        height: 35px;
        width: 35px;
        margin: 10px 15px;
      }

      @media screen and (max-width: $FHD) {
        height: 26px;
        width: 26px;
        margin: 0 15px;
      }
    }
  }

  &__text {
    @include regularText;
    margin-top: 40px;
    text-align: center;

    @media screen and (max-width: $UHD) {
      margin-top: 60px;
    }

    @media screen and (max-width: $QHD) {
      margin-top: 60px;
    }

    @media screen and (max-width: $FHD) {
      margin-top: 40px;
    }

    @media screen and (max-width: $mobile-small) {
      padding: 0 5px;
    }

    & a {
      @extend .contact__text;
      text-decoration: underline;
    }
  }
}
