.landing {
  @include flex();
  width: 100%;
  height: calc(100vh - 119px);

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    height: auto;
    height: calc(100vh - 119px);
  }

  &__title {
    position: relative;
    font-weight: bold;
    opacity: 0;

    @media screen and (max-width: $UHD) {
      font-size: 160px;
      line-height: 180px;
    }

    @media screen and (max-width: $QHD) {
      font-size: 110px;
      line-height: 130px;
    }

    @media screen and (max-width: $FHD) {
      font-size: 72px;
      line-height: 84px;
    }

    @media screen and (max-width: 1440px) {
      font-size: 56px;
      line-height: 64px;
    }

    @media screen and (max-width: $tablet) {
      font-size: 45px;
      line-height: 49px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 36px;
      line-height: 42px;
    }

    @media screen and (max-width: $mobile-small) {
      font-size: 32px;
      line-height: 38px;
    }

    & .black:after {
      animation: none;
    }

    &-wrapper {
      @include flex();

      @media screen and (max-width: $mobile) {
        justify-content: center;
        order: 2;
        width: 100%;
        padding: 0 5px;
        margin: 30px 0;
        box-sizing: border-box;
        position: relative;
        top: -60px;
      }

      @media screen and (orientation: landscape) and (max-width: $tablet-big) and (max-height: 400px) {
        width: 80%;
      }
    }
  }

  &__image {
    animation: opacity 1s 1s both;

    @media screen and (max-width: $UHD) {
      min-height: 60vh;
    }

    @media screen and (max-width: $FHD) {
      max-height: 70vh;
    }

    @media screen and (max-width: $tablet-big) {
      max-height: initial;
      width: 115%;
    }

    @media screen and (max-width: $mobile) {
      max-height: 100vh;
      width: 100%;
    }

    &-wrapper {
      @include flex();

      @media screen and (max-width: $UHD) {
        width: 50%;
      }

      @media screen and (max-width: $FHD) {
        width: 40%;
      }

      @media screen and (max-width: 1440px) {
        width: 30%;
      }

      @media screen and (max-width: $mobile) {
        order: 1;
        width: 100%;
      }

      @media screen and (orientation: landscape) and (max-width: $tablet-big) and (max-height: 400px) {
        display: none;
      }
    }
  }
}
