@keyframes skillsShow300 {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}

@keyframes skillsShow500 {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}

@keyframes skillsShow700 {
  from {
    left: -700px;
  }
  to {
    left: 0;
  }
}
