.projects {
  @include flex();
  width: 100%;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__heading {
    width: 40%;
    margin-top: 70px;

    @media screen and (max-width: $UHD) {
      margin-top: 90px;
    }

    @media screen and (max-width: $tablet) {
      @include flex();
      width: 100%;
      margin-top: 40px;
    }
  }

  &__title {
    @include sectionTitle($color: $white);
    letter-spacing: 4px;
    animation: opacity $time-extra-long $time-extra-long both;

    &-wrapper {
      @include flex();
      position: sticky;
      top: 60px;
      width: 300px;
      height: 100px;
      padding: 0 20px 0 40px;
      background-color: black;

      @media screen and (max-width: $UHD) {
        width: 700px;
        height: 180px;
      }

      @media screen and (max-width: $QHD) {
        width: 500px;
        height: 150px;
      }

      @media screen and (max-width: $FHD) {
        width: 300px;
        height: 100px;
      }

      @media screen and (max-width: $tablet) {
        position: static;
        justify-content: center;
        width: 70%;
        margin-bottom: 60px;
        padding: 0 20px;
      }
    }
  }

  &__listing {
    width: 60%;
    margin-top: 90px;
    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-top: 0;
    }
  }
}
