.projects {
  @include flex();
  width: 100%;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__heading {
    width: 40%;
    margin-top: 70px;

    @media screen and (max-width: $UHD) {
      margin-top: 90px;
    }

    @media screen and (max-width: $tablet) {
      @include flex();
      width: 100%;
      margin-top: 40px;
    }
  }

  &__title {
    @include sectionTitle($color: $white);
    letter-spacing: 4px;
    opacity: 0;

    &-wrapper {
      @include flex();
      @include titleWrapper($background-color: $black);
      position: sticky;
      top: 60px;
      padding: 0 20px 0 40px;

      @media screen and (max-width: $tablet) {
        position: static;
        justify-content: center;
        width: 70%;
        margin-bottom: 60px;
        padding: 0 20px;
      }
    }
  }

  &__listing {
    width: 60%;
    margin-top: 90px;
    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-top: 0;
    }
  }
}
