@mixin sectionTitle($color: $black) {
  color: $color;
  font-weight: bold;
  text-transform: uppercase;

  @media screen and (max-width: $UHD) {
    font-size: 140px;
    line-height: 160px;
  }

  @media screen and (max-width: $QHD) {
    font-size: 100px;
    line-height: 110px;
  }

  @media screen and (max-width: $FHD) {
    font-size: 64px;
    line-height: 75px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 52px;
  }

  @media screen and (max-width: $mobile-small) {
    font-size: 44px;
  }
}
