@mixin slideCover($direction: slideDown, $color: $black) {
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    animation: $direction 1.5s forwards 1.2s;
  }
}
