// COLORS
$black: #111111;
$white: #e7e5e5;

// FONT
$font: 'Source Sans Pro', sans-serif;

// BREAKPOINTS
$mobile-small: 350px;
$mobile: 600px;
$tablet: 768px;
$tablet-big: 1024px;
$HD: 1360px;
$FHD: 1920px;
$QHD: 2560px;
$UHD: 3840px;

// ANIMATION TIME
$time: 0.2s;
$time-short: 0.1s;
$time-medium: 0.3s;
$time-long: 0.5s;
$time-extra-long: 0.8s;
