@keyframes in {
  from {
    left: 0;
    right: 100%;
  }
  to {
    left: 0;
    right: 0;
  }
}

@keyframes out {
  from {
    left: 0;
    right: 0;
  }
  to {
    left: 100%;
    right: 0;
  }
}

@keyframes showUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}

@keyframes showDown {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@keyframes slideLeft {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideRight {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
