.burger {
  position: fixed;
  z-index: 6;
  top: 15px;
  right: 10px;
  border: none;
  background-color: transparent;
  display: none;
  outline: none;
  background-color: $white;
  padding: 10px 5px;
  @media screen and (max-width: 560px) {
    display: block;
  }
  cursor: pointer;
  &__element {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 8px;
    background-color: black;
    transition: opacity 0.4s, transform 0.7s, background-color 0.7s;
    &-active:nth-of-type(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &-active:nth-of-type(2) {
      opacity: 0;
    }
    &-active:nth-of-type(3) {
      transform-origin: 50% 100%;
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
