.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $black;
  margin-top: 90px;

  &__title {
    color: $white;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    padding: 10px 20px 10px;
    text-transform: uppercase;

    @media screen and (max-width: $QHD) {
      font-size: 100px;
      line-height: 110px;
      padding: 20px 30px;
    }

    @media screen and (max-width: $FHD) {
      font-size: 64px;
      line-height: 75px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 48px;
    }

    @media screen and (max-width: $mobile-small) {
      font-size: 44px;
      padding: 10px 10px 10px;
    }

    &-wrapper {
      position: relative;
      min-height: 100px;
      min-width: 100px;
      border: 10px solid $white;
      margin-top: 40px;
      display: flex;
      justify-content: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: $white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        animation: showUp $time-extra-long forwards;
      }
    }
  }

  &__icons {
    display: flex;
    margin: 20px 0;

    &-element {
      filter: invert(100%);

      @media screen and (max-width: $QHD) {
        height: 35px;
        width: 35px;
        margin: 10px 15px;
      }

      @media screen and (max-width: $FHD) {
        height: 26px;
        width: 26px;
        margin: 0 15px;
      }
    }
  }

  &__text {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: $white;

    @media screen and (max-width: $QHD) {
      font-size: 26px;
      margin-top: 60px;
    }

    @media screen and (max-width: $FHD) {
      font-size: 18px;
      margin-top: 40px;
    }

    @media screen and (max-width: $mobile-small) {
      font-size: 16px;
      padding: 0 5px;
    }
    & a {
      @extend .contact__text;
      text-decoration: underline;
    }
  }
}
