.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $black;
  margin-top: 90px;

  &__title {
    color: $white;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    padding: 10px 20px 10px;
    text-transform: uppercase;

    &-wrapper {
      position: relative;
      min-height: 100px;
      min-width: 100px;
      border: 10px solid $white;
      margin-top: 40px;
      display: flex;
      justify-content: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: $white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        animation: showUp $time-extra-long forwards;
      }
    }
  }

  &__icons {
    margin: 20px 0;
    &-element {
      height: 26px;
      width: 26px;
      margin: 0 15px;
      filter: invert(100%);

      &--resume {
        @extend .contact__icons-element;
        filter: invert(0);
      }
    }
  }

  &__text {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: $white;
    & a {
      @extend .contact__text;
      text-decoration: underline;
    }
  }
}
