.cursor {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $white;
  mix-blend-mode: difference;
  transition-duration: 0;
  transition-timing-function: ease-out;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
}
