@import './variables.scss';

.section-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.form {
  width: calc(100% - 80px);
  margin: 40px;

  &__text {
    background-color: #fdfdfd;
    border: 1px solid #212529;
    margin: 4px 0;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 15px;
    font-family: $font-rendered;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
      width: 90%;
    }

    &-area {
      @extend .form__text;
      height: 120px;
      padding-top: 10px;
      resize: none;
    }

    &:required {
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .form__label {
      opacity: 0;
    }

    &:not(:focus):valid ~ .form__label {
      opacity: 0;
    }
  }

  &__label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 16px;
    transition: 0.3s ease all;
    font-family: $font-rendered;
  }

  &-right {
    border: none;
    border-left: 2px solid $gray;
  }

  &__element {
    position: relative;
    margin: 5px 0;
  }

  &__title {
    font-family: $font-rendered;
    letter-spacing: 0.0375em;
    font-size: 1.1rem;
    font-weight: 100;
    word-spacing: 0.05em;
    line-height: 1.5;

    &-right {
      @extend .form__title;
      text-align: center;
    }
  }

  &__button {
    background-color: transparent;
    font-size: 18px;
    padding: 10px 30px;
    border: 1px solid $gray;
    transition: 0.4s;
    font-family: $font-rendered;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $gray;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &-element {
      margin: 10px;
      &:hover .form__icon {
        transform: scale(1.15);
      }
    }
  }

  &__icon {
    filter: invert(1);
    height: 35px;
    width: 35px;
    transition: transform 0.4s;
  }
}

// .title {
//   &-first {
//     order: 1;
//   }
//   &-second {
//     order: 2;
//   }
// }
// .block {
//   &-first {
//     order: 3;
//   }
//   &-second {
//     order: 4;
//   }
// }
