.header {
  position: relative;
  height: 100vh;

  &__info {
    height: 100vh !important;
  }

  &__image {
    width: 70%;
    height: 100vh;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
