.header {
  width: 100%;
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;

  &__titles {
    display: flex;
    flex-direction: column;
  }
}
