.section-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  align-items: center;
  width: 70%;
}

.project {
  margin: 40px;

  &__image {
    width: 100%;
    position: relative;

    &-wrapper {
      position: relative;
    }

    &-icon {
      top: 8px;
      right: 8px;
      position: absolute;
      height: 22px;
      width: 22px;
      transition: transform 0.4s;

      &:hover {
        transform: scale(1.2);
      }

      &:nth-of-type(2) {
        right: 40px;
      }
    }
  }
  &__title {
    font-family: $font-rendered;
    letter-spacing: 0.0375em;
    font-size: 1.1rem;
    font-weight: bold;
    word-spacing: 0.05em;
    line-height: 1.5;
  }
  &__description {
    @extend .project__title;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1;
  }
}
