.skills {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    color: white;
    transform: translateX(51%);
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0;
    animation: opacity forwards $time-extra-long $time-extra-long;

    @media screen and (max-width: $QHD) {
      font-size: 100px;
      line-height: 110px;
    }

    @media screen and (max-width: $FHD) {
      font-size: 64px;
      line-height: 75px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 52px;
    }

    &-black {
      mix-blend-mode: normal;
      color: $black;
    }

    &-wrapper {
      width: 300px;
      margin-top: 90px;
      background-color: black;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      left: -300px;
      animation: skillsShow300 $time-extra-long forwards;

      @media screen and (max-width: $QHD) {
        width: 500px;
        height: 150px;
      }

      @media screen and (max-width: $FHD) {
        width: 300px;
        height: 100px;
      }

      @media screen and (max-width: $tablet) {
        width: 50%;
      }

      @media screen and (max-width: $mobile) {
        margin-top: 50px;
        height: 70px;
      }
    }
  }

  &__list {
    width: 50%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: opacity forwards $time-extra-long
      Calc($time-extra-long + $time-long);

    @media screen and (max-width: $tablet) {
      margin: 60px auto;
      width: 90%;
    }

    @media screen and (max-width: $mobile) {
      margin: 60px auto;
      width: 90%;
    }

    &-element {
      @extend .black;
      font-size: 28px;
      line-height: 34px;
      margin: 5px 10px;
      display: inline-block;
      text-transform: uppercase;

      @media screen and (max-width: $QHD) {
        font-size: 40px;
        line-height: 52px;
      }

      @media screen and (max-width: $FHD) {
        font-size: 28px;
        line-height: 34px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 20px;
        line-height: 32px;
        margin: 5px 5px;
      }
    }
  }
}

.tools {
  @extend .skills;
  background-color: $black;
  &__title {
    @extend .skills__title;
    transform: translateX(-51%);
    mix-blend-mode: difference;

    &-wrapper {
      @extend .skills__title-wrapper;
      align-self: flex-end;
      justify-content: flex-start;
      background-color: $white;
      left: 0;
      right: 100%;
      animation: slideRight $time-extra-long forwards;
    }
  }

  &__list {
    @extend .skills__list;

    &-element {
      @extend .skills__list-element;
      background-color: $white;
      color: $black !important;
    }
  }
}
