.skills {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    color: white;
    transform: translateX(51%);
    mix-blend-mode: difference;
    color: $white;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 4px;

    &-wrapper {
      width: 300px;
      margin-top: 90px;
      background-color: black;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width: $mobile) {
        width: 50%;
      }
    }
  }

  &__list {
    width: 50%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (max-width: $mobile) {
      margin: 60px auto;
      width: 80%;
    }

    &-element {
      @extend .black;
      font-size: 28px;
      line-height: 34px;
      margin: 5px 10px;
      display: inline-block;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

.tools {
  @extend .skills;
  background-color: $black;
  &__title {
    @extend .skills__title;
    transform: translateX(-51%);

    &-wrapper {
      @extend .skills__title-wrapper;
      align-self: flex-end;
      justify-content: flex-start;
      background-color: $white;
    }
  }

  &__list {
    @extend .skills__list;

    &-element {
      @extend .skills__list-element;
      background-color: $white;
      color: $black !important;
    }
  }
}
