// COLORS
$pink: #ff2c6d;
$black: #111111;
$light-gray: #676b79;
$blue: #19f9d8;
$white: #e7e5e5;
$yellow: #ffcc95;
$gold: #ffb86c;

// FONT
$font: 'Source Sans Pro', sans-serif;

// BREAKPOINTS
$mobile-small: 350px;
$mobile: 600px;
$tablet: 768px;
$tablet-big: 1024px;

// ANIMATION TIME
$time: 0.2s;
$time-short: 0.1s;
$time-medium: 0.3s;
$time-long: 0.5s;
$time-extra-long: 0.8s;
