@import './variables.scss';
@import './reset.scss';
@import './header.scss';
@import './navigation';
@import './animations';
@import './welcome';
@import './burger';
@import './about';
@import './skills';
@import './cursor';
@import './projects';

* {
  user-select: none;

  &:hover {
    cursor: none;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  font-family: $font;
  color: $black;
  cursor: none;
}

main,
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

strong {
  font-weight: 600;
}

a {
  color: $black;
  text-decoration: none;
}

hr {
  border: none;
  border-left: 2px solid $black;
  height: 70%;
  width: 1px;
}

.black {
  position: relative;
  color: $white;
  padding: 0 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: $black;
    animation: slideLeft $time-long forwards;
  }
}
