.about {
  background-color: $black;
  padding: 60px 0;

  @media screen and (max-width: $mobile) {
    padding: 40px 25px;
  }

  &__section {
    @include flex();

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__title {
    @include sectionTitle($color: $white);
    opacity: 0;

    @media screen and (max-width: $UHD) {
      padding: 70px 80px;
    }

    @media screen and (max-width: $QHD) {
      padding: 40px 50px;
    }

    @media screen and (max-width: $FHD) {
      padding: 30px 40px;
    }

    @media screen and (max-width: $mobile-small) {
      padding: 30px;
    }

    & br {
      @media screen and (max-width: $mobile) {
        display: none;
      }
    }

    &-wrapper {
      display: inline-block;
    }
  }

  &__description {
    @include regularText;
    display: block;
    position: relative;
    width: 40%;
    opacity: 0;

    @media screen and (max-width: $UHD) {
      margin-left: 240px;
    }

    @media screen and (max-width: $QHD) {
      margin-left: 200px;
    }

    @media screen and (max-width: $FHD) {
      margin-left: 120px;
    }

    @media screen and (max-width: 1440px) {
      width: 50%;
    }

    @media screen and (max-width: $tablet) {
      margin-left: 40px;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 40px;
      width: 100%;
      margin-left: 0px;
    }
  }
}
